* {
  &::selection {
    background: $main-color;
    color: $background-color;
  }
}

body {
  background: $background-color;
  color: $main-color;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $system-stack;
  @include hide-scroll;
  @include screen-size('small') {}
}

a {
  color: $main-color;
  text-decoration: none;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $main-color;
  }
  &:active {
    color: $main-color;
  }
}

p {
  font-family: $system-stack;
  font-size: $font-size;
  line-height: $line-height;
}

// DISPLAY TYPE

$list: jonathan malou joel;


@each $author in $list {
  .project-#{$author} {
    
    &:before {
      // content: '#{$author}';
    }
  }
}

.titles {
  display: none;
}

h1 {
  margin-left: 24px;
  font-family: $display-stack;
  font-size: $font-size-large;
  line-height: $line-height-large;
  letter-spacing: -1px;
  transition: all .3s linear;
  span {
      &.letter {
        background-color: $main-color;
        color: $background-color;
        background-blend-mode: mutiply;
        transition: all .3s linear;
        cursor: pointer;
        &:hover {
          margin: 0 2px;
        }
        &.slant-1 {
         @include skew(-1deg); 
        }
        &.slant-2 {
         @include skew(-2deg);
        }
        &.slant-3 {
         @include skew(-3deg);
        }
        &.slant-4 {
         @include skew(-4deg);
        }
        &.slant-5 {
         @include skew(-5deg);
        }
        &.slant-6 {
         @include skew(-6deg);
        }
        &.slant-7 {
         @include skew(-7deg);
        }
        &.slant-8 {
         @include skew(-8deg);
        }
        &.slant-9 {
         @include skew(-9deg);
        }
        &.slant-10 {
         @include skew(-10deg);
        }
      }
  }
}

// END DISPLAY TYPE